.article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.article__image {
    margin-bottom: 10px;
    display: block;
    max-width: 100%;
}

.article__title {
    color: $blue;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.article__text {
    color: #000;
    font-size: 15px;
    font-family: "Gotham", sans-serif;
    font-weight: 300;
    width: 75%;

    @include media-breakpoint-up(sm) {
        width: 100%;
    }
}