.header {
    border-bottom: 1px solid rgba($border-light, 0.5);
    width: 100%;
    padding: 10px;

    @include media-breakpoint-up(md) {
        padding: 20px;
    }

    @include media-breakpoint-up(lg) {
        padding: 0;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: none;

    @include media-breakpoint-up(lg) {
        display: flex;
    }
}