.logo {
    position: relative;
    display: inline-block;
    padding: 2px 3px;

    @include media-breakpoint-up(md) {
        padding: 4px 6px;
    }
}

.logo__front, .logo__back {
    height: 35px;
    width: 35px;

    @include media-breakpoint-up(md) {
        height: 70px;
        width: 70px;
    }
} 

.logo__front {
    position: absolute;
    background-color: $blue;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    transform: translate(-3px, -2px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-white;

    @include media-breakpoint-up(md) {
        font-size: 30px;
        transform: translate(-6px, -4px);
    }
}

.logo__back {
    transform: translate(3px, 2px);
    z-index: 1;
    background-color: rgba($dark-white, 0.8);

    @include media-breakpoint-up(md) {
        transform: translate(6px, 4px);
    }
}