.welcome {
    min-height: 100vh;
    background-image: url(../../images/background/welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.welcome__center {
    width: 100%;
    text-align: center;
}

.welcome__title {
    color: $dark-white;
    font-size: 40px;
    font-family: "Gotham", sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
        font-size: 60px;
    }

    @include media-breakpoint-up(md) {
        font-size: 90px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 150px;
    }
}

.welcome__subtitle {
    color: $blue;
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    
    @include media-breakpoint-up(sm) {
        font-size: 18px;
        letter-spacing: 10px;
    }

    @include media-breakpoint-up(md) {
        font-size: 20px;
        letter-spacing: 15px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 24px;
        letter-spacing: 20px;
    }
}

.welcome__bottom {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome__scroll {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    padding: 20px;
}

.welcome__button {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    background-image: url(../../images/icons/arrow-down.png);
    background-size: auto 10px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    @include media-breakpoint-up(md) {
        width: 65px;
        height: 65px;
    }
}