@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto-Regular.woff) format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url(../../fonts/RobotoCondensed-Bold.woff) format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Gotham";
    src: url(../../fonts/Gotham-Book.woff) format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Gotham";
    src: url(../../fonts/Gotham-Medium.woff) format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Gotham";
    src: url(../../fonts/Gotham-Bold.woff) format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Open Sans";
    src: url(../../fonts/OpenSans-Regular.woff) format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Open Sans";
    src: url(../../fonts/OpenSans-Bold.woff) format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

